<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Essaie 1 </title>
</head>
<body>
<div class="container">
    <h1 style="color: red"> Test pour retrouver un compte</h1>
    <form class="col-5" th:action="@{/Affiche}" th:object="${compte}" method="post">
        <label><h6>Num_compte</h6></label>
        <input type="text" class="form-control" th:field="*{Num_compte}">
        <button type="submit"  th:href="@{/Affiche}" class="btn btn-success">Rechercher</button>
    </form>

    <h1 style="color: red"> Test pour Depot</h1>
    <form class="col-5" th:action="@{/Depot}" th:object="${compte}" method="post">
        <label><h6>Num_compte</h6></label>
        <input type="text" class="form-control" th:field="*{Num_compte}">
        <label><h6>Depot</h6></label>
        <input type="text" class="form-control" th:field="*{Solde}">
        <button type="submit"  th:href="@{/Depot}" class="btn btn-success">Depot</button>
    </form>

    <h1 style="color: red"> Test pour retrait</h1>
    <form class="col-5" th:action="@{/retrait}" th:object="${compte}" method="post">
        <label><h6>Num_compte</h6></label>
        <input type="text" class="form-control" th:field="*{Num_compte}">
        <label><h6>Depot</h6></label>
        <input type="text" class="form-control" th:field="*{Solde}">
        <button type="submit"  th:href="@{/retrait}" class="btn btn-success">Retrait</button>
    </form>








    <div class="alert alert-primary text-center text-uppercase fw-bold">
        Liste des Clients
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>code du Client</th>
            <th>Nom du Client</th>
            <th>Prenom du Client</th>
            <th>Solde du client</th>
<!--            <th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${Client}">
            <td th:text="${client.code_Client}"></td>
            <td th:text="${client.nom_Client}"></td>
            <td th:text="${client.Prenom_Client}"></td>
            <td th:each="compte :${Compte}" th:text="${compte.Solde}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>